body{
    background-image: url(./src/png/poke.jpg);
    background-size: cover;
}

.title{
    font-size:100px;
    text-align: center;
    color:yellow;
    -webkit-text-stroke: 1px blue;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro";
}

#pokemonList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}